### IntelliJ IDEA ###
back/out/
back/!**/src/main/**/out/
back/!**/src/test/**/out/
.idea/
back/.idea
back/target/
back/workbench_app.log

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### drw.io ###
*.dtmp

