@import url('./globalStyles.css');

:root {
    --color-bg-main: rgb(30, 33, 43);
    --color-main-text: rgb(179, 179, 190);
    --negro: #000000;
    --oscuro: #1c1c1f;
    --app-grey: #F2F2F2;
    --azul: #3333ff;
    --azul-hover: #2828c5;
    --verde: #00cc7e;
    --rosa: #ff76e2;
    --lila: #8a6df1;
    --laranja: #ff7059;
    --amarelo: #ffc51a;
}

body {
    background-color: var(--oscuro);
    background-image: url('../assets/2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .6);
    min-height: 100vh;
    font-family: 'Montserrat', 'Archivo', sans-serif;
    font-weight: 300;
    color: var(--app-grey);
}

header {
    background-color: var(--negro);
    padding: 1rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* Added to ensure header is positioned correctly */
}

nav {
    width: 100%; /* Ensure the nav takes the full width of its container */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    margin-right: auto; /* This will push the rest of the elements to the right */
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align items to the end (right) */
    gap: 10px; /* Adds space between username, icon, and button */
    margin-left: auto; /* This will push the .user-info to the right */
    padding-right: 1rem; /* Space from the right border */
}

nav .user-info {
    display: flex;
    align-items: center;
}

.user-info p {
    margin: 0; /* Reset margin for the username paragraph if needed */
}

.user-info .user-image {
    width: 40px;
    height: 40px;
    background: url('../assets/user.png') no-repeat center center/cover;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.25);
}

.user-info button {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: .1rem;
    font-size: 0.8rem;
    display: flex; /* To align the icon properly */
    align-items: center; /* Center the icon vertically */
}

nav .user-info .user-image {
    width: 40px;
    height: 40px;
    background: url('../assets/user.png') no-repeat center center/cover, rgba(255, 255, 255, 0.25);
    border-radius: 50%;
    margin: 0 .5rem;
}

nav .user-info button {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    padding: .5rem 1rem;
    margin-left: 2rem;
    border-radius: .1rem;
    font-size: .8rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* padding: 200px; */
    box-sizing: border-box;
    width: 100%;
    /* max-width: 1200px; */
    margin: 0 auto;
}

.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: 180px; /* or any desired width */
    transition: box-shadow 0.3s, opacity 0.3s;
    cursor: pointer;
    text-align: center;
    display: flex; /* This makes it a flex container */
    flex-direction: column; /* Aligns children vertically */
    justify-content: center; /* Centers items along the main axis (vertically in this case) */
    align-items: center; /* Centers items along the cross axis (horizontally in this case) */
    height: 180px; /* or any desired height */
}



.card:hover {
    opacity: 0.7;
}

.card-header {
    display: flex; /* Use flexbox */
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center items along the main axis */
    align-items: center; /* Center items along the cross axis */
    padding: 15px;
    border-radius: 20px;
    color: #fff;
    margin-bottom: 10px;
    gap: 10px; /* Adjust the value as needed */
}



.card-header h2 {
    font-size: 16px;
    /* margin: 5; */
}

.card-count {
    font-size: 24px;
    font-weight: bold;
}

#tasksInProgress .card-header { background: #6ecaff2d; }
#newAssignedTasks .card-header { background: #d5e97324; }
#completedTasks .card-header { background: #6effd123; }
#activeTasks .card-header { background: #6effd123; }

#addNewTask {
    order: 3;
    width: 100%;
    display: flex;
    justify-content: center;
}

.add-task-btn {
    background-color: #4e72df90;
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    margin-top: 20px;
    cursor: pointer;
}


footer {
    height: 2rem;
    width: 100%;
    background-color: var(--negro);
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img {
    height: 100%;
}


/* logout */
.swal2-popup {
    border-radius: 20px; /* Adjust the border-radius as you wish */
    width: 400px;
    background-color: rgba(47, 54, 64, 0.9); /* Dark blue, semi-transparent */

  }
  
  .swal2-title {
    color: white; /* This will change the title color to white */
  }
  
  .swal2-confirm {
    border-radius: 5px; /* Rounded borders for the confirm button */
    background-color: #3498db; /* Brighter blue for the confirm button */
  }
  
  .swal2-cancel {
    border-radius: 5px; /* Rounded borders for the cancel button */
    background-color: #95a5a6; /* Gray for the cancel button */

  }
  






/* TASKS CARDS */
.tasks-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.task-card {
    background: rgba(106, 142, 199, 0.157);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 300px;
    height: 400px;
    margin: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

.task-card-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.task-card-content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    background: rgba(143, 177, 231, 0.436); /* Color for content */
    color: #ffffff; /* White text for better contrast */
}

.task-card-headline {
    font-size: 24px;
    margin-bottom: 8px;
    margin-top: 20px;
    text-align: center;
}

.task-card-subhead {
    font-size: 16px;
    margin-bottom: 16px;
}

.task-card-body {
    font-size: 14px;
    margin-bottom: 16px;
}

.task-card-footer {
    display: flex;
    justify-content: space-evenly;
    padding: 16px;
    background: rgba(143, 177, 231, 0.436); /* Same color for footer */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.task-card-footer-progress {
    display: flex;
    justify-content: space-evenly;
    /* gap: 28px; */
    padding: 16px;
    background: rgba(143, 177, 231, 0.436); /* Same color for footer */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.task-card-button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 4px;
    outline: none;
    transition: background-color 0.3s ease;
}

.task-card-button.secondary {
    background-color: #6c757d;
    color: white;
}

.task-card-button.primary {
    background-color: #007bff;
    color: white;
}

.task-card-button:hover {
    opacity: 0.9;
}




/* Styles for the 'No' button when cancelling or initiating a task */
.cancel-no, .initiate-no {
    background-color: #dc3545; /* Bootstrap's danger color for a standard 'No' button */
    color: white;
}

/* Styles for the 'Yes' button when cancelling a task */
.cancel-yes {
    background-color: #28a745; /* Bootstrap's success color for a standard 'Yes' button */
    color: white;
}

/* Styles for the 'Yes' button when initiating a task */
.initiate-yes {
    background-color: #007bff; /* Bootstrap's primary color for a standard 'Yes' button */
    color: white;
}


/* Add a hover effect for both buttons for better user interaction */
.cancel-no:hover, .initiate-no:hover, .cancel-yes:hover, .initiate-yes:hover {
    opacity: 0.85;
    filter: brightness(110%);
}

/* Add some padding and border radius to make the buttons look better */
.cancel-no, .initiate-no, .cancel-yes, .initiate-yes {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
    margin: 0 5px; /* Give some space between the buttons */
}




/* New styles for the buttons */
.task-card-button.cancel-no {
    background-color: #dc3545; /* Bootstrap 'danger' red */
    margin: 0;
}

.task-card-button.cancel-yes {
    background-color: #28a745; /* Bootstrap 'success' green */
}
/* Optional: Add a transition to button colors for a smooth color change */
.task-card-button {
    transition: background-color 0.3s ease;
}





/* No new assigned tasks message */

.no-tasks-message {
    text-align: center;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    color: white;
    margin: 20px auto; /* Centering the message */
    font-size: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
    max-width: 600px; /* Maximum width for readability */
}

.no-tasks-message h2 {
    color: #00cc7e; /* A fresh color for the heading */
    margin-bottom: 15px;
    font-size: 24px; /* Slightly larger font size for heading */
}

.no-tasks-message p {
    margin-bottom: 10px; /* Spacing between paragraphs */
    line-height: 1.6; /* Line height for better readability */
}


.swal2-textarea {
    color: #2c8cc09f; /* Or any color you prefer */
}









/* TASK CARD HEADER */
.task-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; /* Adjust as needed */
    background-color: rgba(143, 177, 231, 0.436);
}

/* General styles for any icon-button */
.icon-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease; /* Smooth transition for transform and color */
}



.comment-button:focus {
    outline: none;
}

/* Styles specifically for info buttons */
.info-button {
    padding: 5px; /* Provide some padding around the icon */
    border-radius: 50%; /* Round the button */
    display: flex; /* To center the icon inside the button */
    justify-content: center;
    align-items: center;
    /* Removed position absolute, top, and right properties */
    z-index: 2; /* Ensure it's above other content */
}



.info-button:focus {
    outline: none; /* You may want to add a custom focus style for accessibility */
}

.task-card-status {
    color: white;
    background-color: rgba(0, 160, 0, 0.526);
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 12px;
    /* Removed position absolute, top, and left properties */
    z-index: 2;
}

/* INFO BUTTON */
.info-button i {
    color: #58a6ff; /* A brighter blue for better visibility */
    font-size: 1.5em;
}

.info-button:hover {
    transform: translateY(-3px) scale(1.1);
    background-color: rgba(255, 255, 255, 0.2); /* Light background for visibility */
}

.info-button:hover i {
    color: #1d4ed8; /* A deeper blue for interactive feedback */
}

/* COMMENT BUTTON */
.comment-button i {
    color: #34d399; /* A bright green that complements the blue */
    font-size: 1.5em;
}

.comment-button:hover {
    background: transparent;
    transform: translateY(-3px) scale(1.2);
}

.comment-button:hover i {
    color: #059669; /* A darker shade of green for interactive feedback */
}


/* TASK CARD INFO */
.task-card-info {
    display: flex; /* Align children inline */
    justify-content: space-between; /* Space between the children */
    align-items: center; /* Vertically center items */
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    gap: 10px;
}

/* Adjust the right margin of the comment button if needed to add spacing */
.comment-button {
    margin-right: 10px; /* Adjust as needed */
}

.comment {
    margin-top: 10px;
}

.cursive {
    font-style: italic;
    text-align: center;
    font-weight: bold;
    /* Additional styles here */
}

.stylish-text {
    /* Define your custom styles here */
    text-align: center;
}
