version: '3.8'
services:
  frontend:
    build: ./front
    image: {{ frontend_image }}:{{ frontend_tag }}
    ports:
      - "3000:80"
    networks:
      - workbench_network

  backend:
    build: ./back
    image: {{ backend_image }}:{{ backend_tag }}
    ports:
      - "8080:8080"
    networks:
      - workbench_network

networks:
  workbench_network:
    driver: bridge
